@import '../../styles/base.scss';

.dropdown{
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  background: $mainBackground;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &--open-title{
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

  }

  &__title{
    display: flex;
    width: 100%;
    border: 1px solid $textColor_25;
    border-radius: inherit;
  }

  &__icon{
    width: 40px;
    height: 100%;
    color: $textColor_50;
    line-height: 44px;
    text-align: center;
    background-color: #F8F8F8;
    border-radius: inherit;
  }

  &__input{
    width: 100%;
    height: 44px;
    padding: 0 15px;
    font-family: montserrat, arial, sans-serif;
    background: inherit;
    background-color: #F8F8F8;
    border: none;
    border-radius: inherit;
    outline: none;
    cursor: inherit;
  }

  &__drop{
    position: absolute;
    top: 44px;
    z-index: 5;
    display: none;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    padding-bottom: 6px;
    font-family: montserrat,arial,sans-serif;
    background-color: #F8F8F8;
    border: 1px solid rgb(104 106 158 / 25%);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: default;
  }

  &__btn-container{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 10px 4px;

    &:nth-child(1){
      display: none;
    }

    &--has-btn{
      display: flex;
    }
  }

  &__open{
    display: flex;
  }
}
