@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.toggle{
  cursor: pointer;
  
  &__input {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 5px;
    padding-right: 20px;
    vertical-align: top;
    background: $mainBackground;
    border: 1.5px solid $textColor_25;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    appearance: none;
  
    &::after {
      position: absolute;
      top: 2.5px;
      left: 2px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: $textColor_25;
      border-radius: 50%;
      transform: translateX(0);
      transition: 0.3s;
      content: "";
    }
  
    &:checked::after {
      background-color: $elementColor;
      transform: translateX(calc(100% + 8px));
    }
  
    &:checked {
      background-color: $mainBackground;
      border: 1.5px solid $elementColor;
    }
  
    &-title{
      color: $textColor_50;
      @include font-body
    }
  }
}
