$mainFont: montserrat, arial, sans-serif;
$textColor: #1f2041;
$richTextColor: #000;
$textColor_75: #1f2041bf;
$textColor_50: #1f204180;
$textColor_25: #1f204140;
$textColor_5: #1f20410d;
$elementColor: #bc9cff;
$elementColor_50: #bb9cff80;
$elementColor_extra: #6fcf97;
$mainBackground: #f8f8f8;
$elementBoxShadow: 0 0 25px #0003;
$btnGradient: linear-gradient(180deg, $elementColor 0%, #8BA4F9 100%);
$elementGradient: linear-gradient(180deg, $elementColor_extra 0%, #66d2ea 100%);
$radialGradient: radial-gradient(6px, $elementColor 90%, $mainBackground 100%);
