$mainFont: montserrat, arial, sans-serif;
$textColor: #1f2041;
$richTextColor: #000;
$textColor_75: #1f2041bf;
$textColor_50: #1f204180;
$textColor_25: #1f204140;
$textColor_5: #1f20410d;
$elementColor: #bc9cff;
$elementColor_50: rgb(187 156 255 / 50%);
$elementColor_extra: #6fcf97;
$elementBoxShadow: 0 0 25px rgb(0 0 0 / 20%);
$btnGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$elementGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$mainBackground: #f8f8f8;
