@import '../../styles/mixins.scss';

.room-number {
  display: flex;
  flex-direction: row;
  align-items: end;
  font-family: $mainFont;

  &__symbol {
    padding-right: 4px;
    color: $textColor;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
  }

  &__number {
    padding-right: 8px;

    @include font-h1;

    color: $textColor;

    &--small {
      @include font-h2;

      padding: 0;
    }

    &--high {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__type {
    color: $elementColor;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
    line-height: 15px;
    text-transform: uppercase;
  }
}
