@import '../../styles/mixins.scss';

.checkbox-radio {
  display: flex;
  flex-direction: column;
  gap: 0 20px;
  justify-content: space-between;
  color: $textColor_50;

  @include font-body;

  &__input {
    position: absolute;
    z-index: -1;
    margin: 5px;
    opacity: 0;
  
    & + label {
      display: inline-flex;
      align-items: center;
      line-height: 14px;
      cursor: pointer;
      user-select: none;
    }
  
    & + label::before {
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      align-self: flex-end;
      width: 20px;
      height: 20px;
      margin-right: 11px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      border: 1px solid $elementColor;
      border-radius: 50%;
      content: "";
    }
  
    &:checked + label {
      color: $textColor_75;
    }
  
    &:checked + label::before {
      background: $radialGradient;
      border-color: $elementColor;
    }
  
    &:disabled + label::before {
      background-color: $mainBackground;
    }
  }

  &--inline {
    flex-direction: row;
  }
}
