@import '../../styles/mixins.scss';

.card-login {
  min-width: 380px;
  max-width: 380px;
  padding: 39px 30px 32px 29px;
  background: $mainBackground;
  border-radius: 4px;
  box-shadow: $elementBoxShadow;

  &__heading {
    padding-bottom: 13px;
  }

  &__email {
    padding-bottom: 10px;
  }

  &__password {
    padding-bottom: 21px;
  }

  &__signin {
    width: 100%;
    height: 44px;
    padding-bottom: 74px;
  }

  &__login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-title {
      color: $textColor;

      @include font-body;
    }

    &-button {
      width: 100px;
      height: 44px;
    }
  }
}
