@import '../../styles/mixins.scss';

.carousel-root{
  width: 270px;
  box-shadow: $elementBoxShadow;
}

.carousel .control-dots {
  text-align: end;
}

.control-arrow{
  background: rgb(0 0 0 / 50%) !important;
}
