@import '../../styles/mixins.scss';

.navigation{
  display: flex;
  flex-direction: column;
  gap: 10px 0;

  &__item{
    color: $elementColor;
    font-family: inherit;
    text-decoration: none;

    @include font-body;
  }
}
