@import '../../styles/mixins.scss';
@import '../../styles/base.scss';

.text-field{
  @include text-field
}

.text-field__input{
  border-radius: inherit;

  @include text-field__input
}

.date-picker{
  &__months{
    width: 100%;
  }

  &__years{
    width: 100%;
  }

  &__month{
    padding: 5px;
    cursor: pointer;
  }

  &__year{
    padding: 5px;
    cursor: pointer;
  }

  &__title-month{
    cursor: pointer;

    @include font-h2
  }

  &__title-year{
    cursor: pointer;

    @include font-h2
  }

  &__hiden-months{
    display: none;
    list-style-type: none;


    &--open{
      position: absolute;
      top: 55%;
      left: 0;
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 295px;
      padding-top: 5px;
      background: white;
    }

  }

  &__hiden-years{
    display: none;
    list-style-type: none;

    &--open{
      position: absolute;
      top: 55%;
      left: 0;
      display: block;
      width: 100%;
      height: 320px;
      overflow-y: scroll;
      background: white;
    }
  }

  &__arrow{
    color: $elementColor;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $textColor_50;
      transition: 0.5s;
    }
  }

  &__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }
}
