@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.react-datepicker{
  width: 100%;
  min-height: 369px;
  font-family: $mainFont;
  border: none;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &-wrapper{
    border-radius: inherit;
  }

  &__input-container{
    border-radius: inherit;
  }

  &__header{
    background-color: transparent;
    border: none;
  }

  &__month-container{
    width: 100%;
  }

  &__children-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__day{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    color: $textColor_50;
    font-size: 14px;
    border-radius: 0;

    &:hover{
      background-color: $elementColor;
      border-radius: 0;
    }

    &:not(.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range):hover{
      border-radius: 50%;
    }

    &-name{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: $elementColor;
      font-weight: 700;
    }

    &--today:not(.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range){
      color: #fff;
      background-color: $elementColor;
      border-radius: 50%;
    }



    &--in-selecting-range{
      background-color: $elementColor_50 !important;
    }

    &--selecting-range{
      &-start{
        position: relative;
        z-index: 1;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::before{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 20px;
        height: inherit;
        background: rgba($elementColor, 0.5);
        content: "";
      }
      }

      &-end{
        position: relative;
        z-index: 1;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 20px;
        height: inherit;
        background: rgba($elementColor, 0.5);
        content: "";
      }
      }
    }

    &--in-range{
      background-color: $elementColor_50;
    }

    &--range{
      &-start{
        position: relative;
        z-index: 1;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::before{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 20px;
        height: inherit;
        background: rgba($elementColor, 0.5);
        content: "";
      }
      }

      &-end{
        position: relative;
        z-index: 1;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 20px;
        height: inherit;
        background: rgba($elementColor, 0.5);
        content: "";
      }
      }
    }
  }
}
