@import '../../styles/mixins.scss';

.header{
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: $mainBackground;
  box-shadow: $elementBoxShadow;

  &__logo{
    width: 127px;
    height: 40px;
    background-image: url('../../assets/img/logo/colored-logo.png');
    background-repeat: no-repeat;
  }

  &__menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  &__burger{
    display: none;
  }
}

@media(max-width: 1190px){
  .header{
    justify-content: space-between;
    padding: 0 30px;

    &__menu{
      display: none;
    }

    &__burger{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
