@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.text-field{
  @include text-field
}

.text-field__input{
  border-radius: inherit;

  @include text-field__input
}

.date-picker{
  &__wrapper{
    position: relative;
  }

  &__months{
    width: 100%;
  }

  &__years{
    width: 100%;
  }

  &__month{
    padding: 5px;
    cursor: pointer;
  }

  &__year{
    padding: 5px;
    cursor: pointer;
  }

  &__title-month{
    cursor: pointer;

    @include font-h2
  }

  &__title-year{
    cursor: pointer;

    @include font-h2
  }

  &__hiden-months{
    display: none;
    list-style-type: none;


    &--open{
      position: absolute;
      top: 55%;
      left: 0;
      z-index: 2;
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 295px;
      padding-top: 5px;
      background: $mainBackground;
    }

  }

  &__hiden-years{
    display: none;
    list-style-type: none;

    &--open{
      position: absolute;
      top: 55%;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 320px;
      overflow-y: scroll;
      background: $mainBackground;
    }
  }

  &__arrow{
    color: $elementColor;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $textColor_50;
      transition: 0.5s;
    }
  }

  &__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  &__input-arrow{
    position: absolute;
    top: 50%;
    right: 8px;
    color: $textColor_50;
    transform: translateY(-50%);
    pointer-events: none;

    &--disable{
      display: none;
    }
  }
}

.react-datepicker{
  width: 320px;
  min-height: 369px;
  font-family: $mainFont;
  border: none;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &-wrapper{
    border-radius: inherit;
  }

  &__input-container{
    border-radius: inherit;
  }

  &__header{
    background-color: transparent;
    border: none;
  }

  &__month{
    margin: 0 0.4rem;
    
    &-container{
      width: 100%;
    }
  }

  &__children-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__day{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    color: $textColor_50;
    font-size: 14px;
    border-radius: 0;

    &--keyboard-selected{
      color: $mainBackground;
      font-weight: 700;
      background-color: $elementColor;
      border-radius: 50%;
    }

    &:hover{
      background-color: $elementColor;
      border-radius: 0;
    }

    &:not(.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range):hover{
      border-radius: 50%;
    }

    &-name{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: $elementColor;
      font-weight: 700;
    }

    &--today:not(.react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range){
      color: $mainBackground;
      background-color: $elementColor;
      border-radius: 50%;
    }



    &--in-selecting-range{
      background-color: $elementColor_50 !important;
    }

    &--selecting-range{
      &-start{
        position: relative;
        z-index: 1;
        color: $mainBackground;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::before{
          right: 0;

          @include datepicker-range-selector
        }
      }

      &-end{
        position: relative;
        z-index: 1;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::after{
          left: 0;

          @include datepicker-range-selector
      }
      }
    }

    &--in-range{
      background-color: $elementColor_50;
    }

    &--range{
      &-start{
        position: relative;
        z-index: 1;
        color: $mainBackground;
        font-weight: 700;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::before{
          right: 0;

          @include datepicker-range-selector
      }
      }

      &-end{
        position: relative;
        z-index: 1;
        color: $mainBackground;
        font-weight: 700;
        background-color: $elementColor !important;
        border-radius: 50%;

        &::after{
          left: 0;

          @include datepicker-range-selector
      }
      }
    }
  }
}
