.checkboxList{
  display: block;
  position: relative;

  &__wrapper{
    height: 25px;
    width: 100%;
    position: absolute;
    top: -25px;
    cursor: pointer;
  }

  &__btn{
    color: #1f214180;
    position: absolute;
    right: 0;
  }

  &__form{
    display: none;
    flex-direction: column;

    &--open{
      display: flex;
    }
  }
}
