@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.checkbox{
  &__label{
    display: flex;
    align-items: self-start;
    padding: 0 0 10px;
    cursor: pointer;
  }

  &__text{
    display: flex;
    flex-direction: column;
    color: $textColor_50;
    transition: all, 0.6s;

    &-title{
      @include font-body;

      &--rich{
        color: $richTextColor;
        font-weight: 700;
      }
    }

    &-description{
      color: $textColor_75;
    }
  }

  &__label:hover &__text{
    background: $textColor_25;
    border-radius: 6px;
    transition: all, 0.6s;
  }

  &__box::before {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 0.5em;
      font-size: 14px;
      background: $mainBackground;
      border: 1px solid $textColor_25;
      border-radius: 0.25em;
      content: '';
  }

  &__reset-icon{
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
  }

  &__reset-icon:checked + &__box::before {
    color: $elementColor;
    background: $mainBackground;
    border-color: $elementColor;
    content: "done";
  }
}
