@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.checkbox{
  &__label{
    display: flex;
    align-items: self-start;
    max-width: 266px;
    padding: 0 0 10px;
  }

  &__label:hover &__span{
    font-size: 17px;
    background-color: $textColor_25;
    border-radius: 0.25em;
    transition: all, 0.6s;
  }

  &__span{
    @include font-body;

    color: $textColor_50;
    transition: all, 0.6s;
  }

  &__box::before {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 0.5em;
      font-size: 14px;
      background: $mainBackground;
      border: 1px solid $textColor_25;
      border-radius: 0.25em;
      content: '';
  }

  &__reset-icon{
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
  }

  &__reset-icon:checked + &__box::before {
    color: $elementColor;
    background: $mainBackground;
    border-color: $elementColor;
    content: "done";
  }
}
