@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.type {
  display: flex;
  flex-direction: column;
  width: 436px;

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__h1 {
    display: flex;
    margin-bottom: 51px;
    color: $textColor;
    @include font-h1;
  }

  &__h2 {
    display: flex;
    margin-right: 20px;
    margin-bottom: 51px;
    color: $textColor;
    @include font-h2;
  }

  &__h3 {
    display: flex;
    margin-bottom: 49px;
    color: $textColor;
    @include font-h3;
  }

  &__body {
    display: flex;
    color: $textColor_75;
    @include font-body;
  }

  &__tag {
    display: flex;
    justify-content: flex-end;
    min-width: 37px;
    max-width: 50px;
    margin-right: 30px;
    color: $textColor_25;
    font-weight: 400;
  }

  &__description {
    white-space: pre-line;
    text-align: left;
  }
}
