@import '../../styles/base.scss';

.like-button {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    display: block;
    border-radius: 30px;
    cursor: pointer;
  }

  &-inline {
    flex-direction: row;
  }

  &__title {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 10px;
    color: $textColor_25;
    font-size: 10px;
    font-family: $mainFont;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    pointer-events: none;

    &-blue {
      color: $elementColor;
    }
  }

  &__input {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    color: $textColor_25;
    vertical-align: top;
    border: 1px solid $textColor_25;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    appearance: none;

    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      display: inline-block;
      color: $textColor_25;
      font-size: 10px;
      transition: 0.5s;
      content: "favorite_border";
    }

    &:checked {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      color: $elementColor;
      vertical-align: top;
      border: 1px solid $elementColor;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      transition: 0.5s;
      appearance: none;

      &::after {
        position: absolute;
        top: 4px;
        left: 4px;
        display: inline-block;
        color: $elementColor;
        font-size: 10px;
        transition: 0.5s;
        content: "favorite";
      }
    }

    &-blue {
      border: 1px solid $elementColor;
    }
  }
}
