@import '../../styles/mixins.scss';

.form-elements{
  &__header{
    @include font-h1;

    padding: 30px 0;
    text-align: center;
  }
  
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__text-fields-buttons{
    display: flex;
    flex-direction: row;
  }

  &__text-fields{
    display: flex;
    flex-direction: column;
  }

  &__checkboxes{
    display: flex;
    flex-direction: column;
    padding-left: 55px;
  }

  &__buttons{
    display: flex;
    flex-direction: column;
    padding-left: 55px;
  }

  &__big-wrapper{
    min-width: 222px;
    max-width: 222px;
    margin-bottom: 18px;
  }

  &__large-wrapper{
    min-width: 320px;
    max-width: 320px;
    margin-bottom: 18px;
  }

  &__like-button-container{
    display: flex;
    gap: 10px;
  }
}
