@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.range-slider{
  position: relative;

  &__scoreboard{
    position: absolute;
    top: -21px;
    right: 0;
    color: $textColor_75;
    font-weight: 400;
    font-size: 0.8572rem;
    font-family: montserrat, arial, sans-serif;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}
