@import '../../styles/mixins.scss';

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 6px;

  &__title-type-h1 {
    @include font-h1;

    color: $textColor;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title-type-h2 {
    @include font-h2;

    color: $textColor;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title-type-h3 {
    @include font-h3;

    color: $textColor;
  }

  &__description {
    color: $textColor_75;
    font-weight: 400;
    font-size: 0.8572rem;
    font-family: $mainFont;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &_lowercase {
      text-transform: lowercase;
    }
  }
}
