@import '../../styles/mixins.scss';

.cards{
  &__header{
    @include font-h1;

    padding: 30px 0;
    text-align: center;
  }

  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__search-and-register{
    &-search{
      margin-bottom: 40px;
    }
  }

  &__booking-and-login{
    &-booking{
      margin-bottom: 40px;
    }
  }

  &__calendar-and-rooms{
    &-calendar{
      margin-bottom: 40px;
    }

    &-room1{
      margin-bottom: 40px;
    }
  }
}
