@import '../../styles/mixins.scss';

.room-price {
  display: flex;
  flex-direction: row;
  color: $textColor_50;
  font-weight: 700;
  font-size: 14px;
  font-family: $mainFont;
  font-style: normal;
  line-height: 18px;

  &__text {
    font-weight: 400;
    letter-spacing: -1px;
  }
}
